/* global styles */
:root {
    font-size: calc(14px + 1vh);
    --bg-color: #447856;
    --color: #ecc0b4;
    --light-green: #90bc8f;
    --dark-green: #3b664a;
}

* {
    margin: 0;
    box-sizing: border-box;
}

input, textarea, select, button {
    font-size: inherit;
}

body {
    margin: 5%;
    min-height: 100vh;
    color: var(--color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1, h2, h3 {
        font-weight: bold;
    }
    & * {
        font-family: "Quantico", consolas, monospace, serif;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

a {
    transition: all 0.1s ease-in-out;
    
    &:link, &:visited {
        color: var(--light-green);
    }
    &:hover, &:active {
        color: var(--color);
        text-decoration: underline;
    }
}